<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Поиск класса</title>
</head>
<body>
<form action="/school/findGrades" method="post">
    <input type="text" name="name" placeholder="Введите название класса">
    <button type="submit">Найти</button>
    <div th:each="el : ${result}">
        <h3 th:text="${el.gradeName}"></h3>
    </div>

    <td>
        <a href="/school" class="btn btn-primary">Вернуться</a>
    </td>
</form>
</body>
</html>